determine the five most common journals and the total articles for each. Next, calculate the mean, median, and standard deviation of the open-access cost per article for each journal

In [332]:
import numpy as np
import pandas as pd
import re
import statistics as stats
from fuzzywuzzy import fuzz
from fuzzywuzzy import process


# I opened filed with notepad++ and converted the encoding from ANSI to UTF-8
# Then I saved it as a CSV file
df_path = 'Updated_WELLCOME_APCspend2013_forThinkful.txt'
df = pd.read_csv(df_path)

# changed the long cost title name
short_column = [column.replace('COST (£) charged to Wellcome (inc VAT when charged)','Cost') for column in df.columns]
df.columns = short_column


# this loop lowers all data points + removes the '/' between the names
for column_name in df.columns:
    df[column_name] = df[column_name].str.lower()\
            .str.replace('//',' ').str.replace(',',' ').str.replace(':',' ').str.replace('&','and').str.replace('  ',' ')\
            .str.replace('the ', '').str.replace('plosone','plos medicine').str.replace('plos computational biology','plos medical')\
            .str.replace('\r\n','').str.replace('plos one','plos medical').str.replace('plos','plos medical')\
            .str.replace(' ntd', '').str.replace(' 1','').str.replace('plos medical medical','plos medical')\
            .str.replace('plos medical pathogens','plos medical').str.replace('plos medical genetics','plos medical')\
            .str.replace('plos medical neglected tropical diseases','plos medical').str.replace('plos medical medicine','plos medical')\
            .str.replace('plos medical biology','plos medical').str.replace('plos medical journal','plos medical')\
            .str.replace('plos medical negected tropical diseases','plos medical')
            
  

# this variable remvoed the pound sign and changes the cost column from String to Float
df['Cost'] = df['Cost'].apply(lambda x: float(x.strip('£$')))

top_five = df['Journal title'].str.lower().value_counts().head(5)
#removed all nan values
#new_df = df.dropna(how='any') # subset=column

In [ ]:
# this function allowed me to find string with matching characters and return a percentage of accuracy
def get_matches(query, choices, limit=10):
    results = process.extract(query, choices, limit=limit)
    return results 

# this for loop allows me to view the results of the functiuon above focusing only in the 'Journal Title' Column
for journal in top_ten.index:
    print('-'*80)
    print(journal)
    matched_journals = get_matches(journal,df['Journal title'].unique())
    for element in matched_journals:
        print(element)

The top five most common Journal Titles:

In [229]:
top_five

plos medical                                   298
journal of biological chemistry                 60
neuroimage                                      29
nucleic acids research                          24
proceedings of national academy of sciences     20
Name: Journal title, dtype: int64

In [343]:
article_df = df.groupby('Journal title').agg('count').sort_values('Article title',ascending=False).head(5)
article_df

,PMID/PMCID,Publisher,Article title,Cost
Journal title,,,,
plos medical,285,298,298,298
journal of biological chemistry,59,60,60,60
neuroimage,28,29,29,29
nucleic acids research,23,24,24,24
proceedings of national academy of sciences,20,20,20,20

In [452]:
#cost_grouped = df.groupby(['Journal title','Article title']).sum()
plos_medical = df.loc[df['Journal title'] == 'plos medical']
nucleic_acids_research = df.loc[df['Journal title'] == 'nucleic acids research']
neuroimage = df.loc[df['Journal title'] == 'neuroimage']
journ_of_bio_chem = df.loc[df['Journal title'] == 'journal of biological chemistry']
proceedings_of_national_academy_of_sciences = df.loc[df['Journal title'] == 'proceedings of national academy of sciences']

In [453]:
print('Plos medical Journal')
print(plos_medical.mean())
print(plos_medical.median())
print(plos_medical.std())

Plos medical Journal
Cost    45330.506309
dtype: float64
Cost    1035.235
dtype: float64
Cost    204537.132702
dtype: float64

In [454]:
print('nucleic_acids_research')
print(nucleic_acids_research.mean())
print(nucleic_acids_research.median())
print(nucleic_acids_research.std())

nucleic_acids_research
Cost    1156.0
dtype: float64
Cost    852.0
dtype: float64
Cost    449.036069
dtype: float64

In [455]:
print('journal of biological chemistry')
print(journ_of_bio_chem.mean())
print(journ_of_bio_chem.median())
print(journ_of_bio_chem.std())

journal of biological chemistry
Cost    18058.929167
dtype: float64
Cost    1319.55
dtype: float64
Cost    128917.105082
dtype: float64

In [456]:
print('neuroimage')
print(neuroimage.mean())
print(neuroimage.median())
print(neuroimage.std())

neuroimage
Cost    2215.168276
dtype: float64
Cost    2326.43
dtype: float64
Cost    266.653947
dtype: float64

In [457]:
print('proceedings of national academy of sciences')
print(proceedings_of_national_academy_of_sciences.mean())
print(proceedings_of_national_academy_of_sciences.median())
print(proceedings_of_national_academy_of_sciences.std())

proceedings of national academy of sciences
Cost    693.3205
dtype: float64
Cost    698.57
dtype: float64
Cost    193.813895
dtype: float64